[submodule "spice-protocol"]
	path = spice-protocol
	url = https://gitlab.freedesktop.org/spice/spice-protocol.git

[submodule "spice-common"]
	path = spice-common
	url = https://gitlab.freedesktop.org/spice/spice-common.git
	ignore = untracked
